body {
  background-color: #252526;
  height: 200vh;
  overflow-x: hidden;
  margin: auto;
}

#border {
  position: sticky;
  margin: auto;
  border-style: solid;
  height: 80px;
  width: 95%;
  z-index: 1;
  top: 0px;
  background-color: #3e3e42;
  width: clamp(1000px, 100%, 100%);
}

#grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: end;
  bottom: 52px;
}

#name {
  position: relative;
  left: 3%;
  top: 11px;
  font-family: aAtmospheric, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: x-large;
}

#name,
.grid-item {
  color: #faf9f6;
}

.grid-item {
  margin: auto;
  position: relative;
  font-family: IceHockey, Arial, Helvetica, sans-serif;
  top: 6px;
  padding: 50px, 50px, 50px, 50px;
}

@font-face {
  font-family: IceHockey;
  src: url("https://raw.githubusercontent.com/AnthonyT-45/Fonts/main/ice-hockey.woff2")
    format("woff2");
}

@font-face {
  font-family: aAtmospheric;
  src: url("https://raw.githubusercontent.com/AnthonyT-45/Fonts/main/aAtmospheric.woff2")
    format("woff2");
}

@media (max-width: 600px) {
  #border {
    margin: auto;
    height: 60px;
    width: 95%;
    width: clamp(0px, 100%, 100%);
  }
  #name {
    font-size: small;
    bottom: 40px;
  }
  #grid {
    grid-template-columns: 100px 100px 100px;
    bottom: 26px;
    left: 20px;
  }
  .grid-item {
    font-size: xx-small;
    margin: 0;
    padding: 0px;
  }
}
