html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  background-color: #252526;
}

#border {
  position: sticky;
  margin: auto;
  border-style: solid none solid none;
  border-width: thick;
  height: 70px;
  width: 95%;
  z-index: 1;
  top: 0px;
  background-color: #3e3e42;
  width: clamp(1000px, 100%, 100%);
  display: flex;
  align-items: center;
}

#grid {
  position: relative;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  top: -2px;
}

#name {
  position: relative;
  left: 2%;
  font-family: aAtmospheric, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: large;
}

#name,
.grid-item {
  color: #faf9f6;
}

.grid-item {
  position: relative;
  font-family: IceHockey, Arial, Helvetica, sans-serif;
  font-size: small;
}

.dropdown {
  display: none;
}

@font-face {
  font-family: IceHockey;
  src: url("https://raw.githubusercontent.com/AnthonyT-45/Things/main/ice-hockey.woff2")
    format("woff2");
}

@font-face {
  font-family: aAtmospheric;
  src: url("https://raw.githubusercontent.com/AnthonyT-45/Things/main/aAtmospheric.woff2")
    format("woff2");
}

@media (max-width: 1000px) {
  #border {
    width: clamp(1000px, 100%, 100%);
  }

  #grid {
    visibility: hidden;
  }

  .dropdown {
    position: fixed;
    display: flex;
    right: 1em;
    padding: 20px;
    width: 10%;
  }

  .drop-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  a {
    display: none;
  }
}

@media (max-width: 600px) {
  #border {
    width: clamp(2px, 100%, 100%);
  }
  #name {
    width: 50vw;
  }
}
