body {
  background-color: #252526;
  height: 200vh;
}

#border {
  position: sticky;
  margin: auto;
  border-style: solid;
  height: 80px;
  width: 95%;
  z-index: 1;
  top: 0px;
  background-color: #3e3e42;
}

#grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: end;
  bottom: 52px;
}

#name {
  position: relative;
  left: 3%;
  top: 11px;
  font-family: aAtmospheric, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: x-large;
}

#name,
.grid-item {
  color: #faf9f6;
}

.grid-item {
  position: relative;
  font-family: IceHockey, Arial, Helvetica, sans-serif;
  top: 6px;
}

@font-face {
  font-family: IceHockey;
  src: url("https://raw.githubusercontent.com/AnthonyT-45/Fonts/main/ice-hockey.woff2")
    format("woff2");
}

@font-face {
  font-family: aAtmospheric;
  src: url("https://raw.githubusercontent.com/AnthonyT-45/Fonts/main/aAtmospheric.woff2")
    format("woff2");
}
